
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<div class="row">
  <div class="col-md-3 col-sm-12 gutter"></div>
    <div class="col-md-6 main">
      <h2><%= @location.name %></h2>
      <div id="map-canvas"></div>
    </div>
  <div class="col-md-3 col-sm-12 gutter"></div>
</div>


